[package]
name = "esplugin"
version = "3.3.1"
authors = ["Oliver Hamlet <oliver.hamlet@gmail.com>"]
description = "A free software library for reading Elder Scrolls plugin (.esp/.esm/.esl) files."
documentation = "https://docs.rs/esplugin"
repository = "https://github.com/Ortham/esplugin.git"
readme = "README.md"
categories = ["games", "parsing"]
license = "GPL-3.0"
edition = "2018"

[badges]
travis-ci = { repository = "Ortham/esplugin" }
coveralls = { repository = "Ortham/esplugin" }

[dependencies]
encoding_rs = "0.8.17"
nom = "5.0.0"
flate2 = { version = "1.0.1", optional = true }

[dev-dependencies]
criterion = "0.3.0"

[features]
default = []
compressed-fields = ["flate2"]

[workspace]
members = ["ffi"]

[[bench]]
name = "parsing"
harness = false
