name: Publish to crates.io

on:
  push:
    tags: ['*.*.*']

jobs:
  publish:
    runs-on: ubuntu-24.04

    environment: release

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
